* {
  color: white;
  text-align: center;
  background-image: repeating-linear-gradient(to right, black, darkblue);
  overflow: visible;


  
}

div {
  background: transparent;
  
}
h3{
  background: transparent;
}
form {
  background: transparent;
}
button{
  background: transparent;
  font-size: 30px;
  padding: 25px;
}
button:hover {
  color: lightgrey;
}
p{
  background: transparent;
  padding: 10px;
  display: block;
}

.footer{
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}


hr {
  background-color: white;
}



.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




.description {
  margin: auto;
  margin: auto;
  left: 0;
  right: 0;
  font-size: small;
  max-width: 690px;
  border-bottom: solid white;
}


img {
  margin: auto;
  left: 0;
  right:0;
  max-width: 690px;
  height: auto;
  z-index: 1;
}


.page-container {
  max-width: 690px;
  display: inline-block;
  position: relative;
}

